.catalog {
  padding-top: 50px;
  background-color: $background-grey;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: $lilac;
}

.catalog__subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.catalog__wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog__filter {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0px;
  }
}

.catalog__product-wrapper {}