.social-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-basis: 150px;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    flex-basis: auto;
  }
}

.social-list__item:not(:last-of-type) {
  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #bdbdbd;
}

.social-list__icon:hover {
  color: $lilac;
}

.social-list__link:hover {
  background-color: #f0ebff;
}

.social-list__link:focus {
  background-color: #f0ebff;
}

.social-list__link:active {
  background: rgba(120, 89, 207, 0.25);
}
