$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$basic-font-family: "Montserrat", "Arial", sans-serif;
$white: #ffffff;
$black: #333333;
$lilac: #7859cf;
$background-grey: #f8f8f8;

